
    body {
        background-color: #F6F1DE;
        border-top: 5px solid #6699cc;
        font-family: sans-serif;
        }
        header {
        background-color: #006699;
        color: #ffffff;
        padding-bottom: 20px;
        }
        img {
        padding: 20px 0px 10px 20px;  
        } 
    #leftcol {
        float:  left;
        padding-right: 10px;
        width: 210px;
    }
    #wrapper {
        position: relative;
        top: 0px;
        left: -75px;
        background-color: #ffffff;
        margin: 20px 100px;
        width: 150px;
        height: 220px;
        padding: 0px 30px 0px 0px;
        background-color: #fcf7f3;
        box-shadow: 5px 5px 5px #EDE8D4;
    }
#wrapper ul li {
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid #62503B;
        color: #006699;
        font-weight: bold;
        list-style-image: url("starterImages/arrow.gif"); 
}
#wrapper ul li:nth-last-child(1) {
       border-bottom: 1px none #fcf7f3; 
}
#content {
        text-align: center;
        width:  760px;
        margin: auto;
}
    #rightcol {
        float: left;
        width: 500px;
        top: 0;
        padding: 10px 10px;
        border-left: 1px solid #E4D6B9;
    }
    #rightcol h2, h3 {
        text-align: left;
        color: #006699;
    }
    #rightcol p {
        color: #62503B;
    }
    footer {
        clear: both;
        background-color: #E4D6B9;
        text-align: center;
        padding: 30px 0px;
    }
h1 {
        display: inline;
        padding-left: 10%;
        font-size: 2em;
}
        
        
        
        
        
    
        