
    body {
        background-color: #F6F1DE;
        border-top: 5px solid #6699cc;
        
        }
        header {
        background-color: #006699;
        color: #ffffff;
        font-size: 3em;
        padding-bottom: 20px;
        }
        img {
        padding: 20px 0px 10px 20px;  
        } 
    #leftcol {
        float:  left;
        width: 380px;
        padding-right: 10px;
    }
    #wrapper {
        background-color: #ffffff;
        margin: 20px 50px;
        width: 300px;
        height: 220px;
        padding: 0px 30px 0px 0px;
        background-color: rgba(230, 217, 169, 0.98); 
    }
#wrapper ul li {
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid #62503B;
        color: #006699;
        font-weight: bold;
        list-style-image: url("starterImages/arrow.gif"); 
}
#content {
        text-align: center;
        width:  900px;
        margin: auto;
}
    #rightcol {
        float: left;
        width: 400px;
        top: 0;
        padding: 10px 10px;
        border-left: 1px solid #E4D6B9;
    }
    #rightcol h2, h3 {
        color: #006699;
    }
    #rightcol p {
        color: #62503B;
    }
    footer {
        clear: both;
        background-color: #E4D6B9;
        text-align: center;
        padding: 30px 0px;
    }
header img {
        display: inline;
        padding-left: 10%;
}
        
        
        
        
        
    
        